.pop {
  top: 0;
  left: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-pop {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

#input-pop-title {
  width: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid #e0e0e0;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  span {
    font-size: 1.3em;
  }
  img {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}
#input-pop-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .input-pop-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  .input-pop-label {
    color: #1e1e1e;
    font-size: 0.9em;
  }
  .input-pop-input {
    display: block;
    width: 70%;
  }
}
#input-pop-error {
  padding-left: 5px;
  font-size: 0.9em;
  width: 100%;
}
#input-pop-confirm {
  width: 100%;
  margin-top: 10px;
  height: 2em;
  border-radius: 0 0 5px 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
  &:hover {
    background-color: #f0f5ff;
  }
}
