* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  user-select: none;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
#left-bar {
  width: 30%;
  height: 100%;
  background-color: rgba(245, 250, 255, 0.65);
  border-radius: 3px;
  margin-right: 15px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  user-select: none;
}
#left-bar-accounts {
}
#left-bar-mails {
  left: 100%;
  display: flex;
  flex-direction: column;
}
.left-bar-item {
  transition: 0.3s all;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow-x: hidden;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
#left-bar-goback {
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
#left-bar-goback img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
  cursor: pointer;
  transform-origin: 50% 50%;
  transform: rotate(180deg);
}
#left-bar-goback span {
  font-size: 1em;
  margin-left: 10px;
}
#left-bar-mails-content {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
.left-bar-mails-content-each {
  border-bottom: 1px solid #3e3e3e;
  border-top: 1px solid #3e3e3e;
  border-collapse: collapse;
  cursor: pointer;
  padding: 5px 3px;
  width: 100%;
  background-color: #e3e3e3;
}
.left-bar-mails-content-each:hover {
  background-color: #d3d3d3;
}
.left-bar-mails-content-each-text {
  display: flex;
  flex-direction: column;
}
.left-bar-mails-content-each-text-from {
  color: #0f0f0f;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}
.left-bar-mails-content-each-text-title {
  color: #0f0f0f;
  display: flex;
  flex-direction: row;
  height: 1em;
  font-size: 0.95em;
  line-height: 1em;
  word-break: break-all;
}
.left-bar-mails-content-each-text-title-titl {
  color: #0f0f0f;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.left-bar-mails-content-each-text-title-time {
  color: #0f0f0f;
  white-space: nowrap;
  width: fit-content;
}
.left-bar-mails-content-each-text-desc {
  color: #3e3e3e;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  font-size: 0.9em;
}
.mail-window {
  width: 100%;
  height: 100%;
  background-color: #fff;
  margin-right: 20px;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e6e6f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: url('https://w.wallhaven.cc/full/zy/wallhaven-zywe5j.jpg');
}
.header {
  height: 40px;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-btn {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  transition: 0.5s all;
}
.header-btn img {
  width: 26px;
  height: 26px;
  cursor: pointer;
  position: relative;
}
.header-btn:hover {
  background-color: #e0e5ef;
}
.one-mail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mail-addr {
  width: 100%;
  font-size: 1em;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s all;
  overflow: hidden;
}
.mail-addr:hover {
  background-color: #e0e5ff !important;
}
.mail-addr img {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  transform-origin: 50% 50%;
  transition: 0.3s all;
}
.mail-addr span {
  line-height: 12px;
  height: 12px;
}
.mail-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mail-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mail-box-name {
  width: 90%;
  font-size: 1.1em;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 5px;
  color: #3e3e3e;
}
.mail-box-name:hover {
  background-color: #f0f5ff;
}
.pop {
  top: 0;
  left: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-pop {
  width: 300px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.input-pop-title {
  width: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid #e0e0e0;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.input-pop-title-inner {
  font-size: 1.3em;
}
.input-pop-close {
  position: absolute;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.input-pop-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.input-pop-area {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.input-pop-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.input-pop-label {
  color: #1e1e1e;
  font-size: 0.9em;
}
.input-pop-input {
  display: block;
  width: 70%;
}
.input-pop-confirm {
  width: 100%;
  margin-top: 10px;
  height: 2em;
  border-radius: 0 0 5px 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s all;
}
.input-pop-confirm:hover {
  background-color: #f0f5ff;
}
.input-pop-error {
  padding-left: 5px;
  font-size: 0.9em;
  width: 100%;
}
